APP_NAME="shopping_assistant"
APP_VERSION="0.1.0"
POSTGRES_USERNAME=""
POSTGRES_PASSWORD=""
POSTGRES_DB="shopping_assistant"
POSTGRES_HOST="localhost"
POSTGRES_PORT="5432"
POSTGRES_MAIN_DATABASE="postgres"
FILE_ALLOWED_TYPES=["text/csv","application/json","application/vnd.openxmlformats-officedocument.spreadsheetml.sheet","application/x-parquet","application/octet-stream"]
FILE_ALLOWED_SIZE = 104857600   
FILE_DEFAULT_CHUNK_SIZE=512000 # 512KB

# Vector DB backend
VECTOR_DB_BACKEND="pgvector"

# LLM backend
LLM_BACKEND="CoHere"
COHERE_API_KEY=""
DEFAULT_INPUT_MAX_CHARACTERS=1000
DEFAULT_GENERATION_MAX_OUTPUT_TOKENS=1000
DEFAULT_GENERATION_TEMPERATURE=0.1
EMBEDDING_MODEL_SIZE=1024